<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draw Triangle</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="w3-top w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button">Input</a>
    <a href="/draw" class="w3-bar-item w3-button">Draw</a>
</div>

<div id="home" class="w3-container w3-content w3-padding-64">
    <h2>Triangle with Side {{sideLength}}</h2>
    <canvas class="w3-white" id="mycanvas" width="600" height="600"></canvas>
</div>

<footer class="w3-padding-large">
    <p>&copy; 2028 Rufaderon</p>
</footer>


<script>
    function drawTriangle() {
        const side = {{sideLength}};

        const canvas = document.getElementById("mycanvas");
        const ctx = canvas.getContext("2d");

        canvas.width = side + 150;
        canvas.height = side + 150;

        ctx.clearRect(0, 0, canvas.width, canvas.height);

        const offset = 50;

        
        ctx.beginPath();
        ctx.moveTo(offset, offset + side);  
        ctx.lineTo(offset + side, offset + side);  
        ctx.lineTo(offset, offset);  
        ctx.closePath();

        ctx.strokeStyle = "#555";
        ctx.lineWidth = 2;
        ctx.stroke();

        
        ctx.fillStyle = "#000";
        ctx.font = "16px Arial";
        
        
        ctx.fillText(side, offset + (side / 2) - 10, offset + side + 20);
        
        
        ctx.fillText(side, offset - 40, offset + (side / 2));

        
        const hypotenuse = Math.round(Math.sqrt(2 * side ** 2));
        ctx.fillText(hypotenuse, offset + (side / 2) + 10, offset + (side / 2) - 10);
    }

    drawTriangle();
</script>

</body>
</html>
