<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Triangle Input</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="w3-top w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button">Input</a>
    <a href="/draw" class="w3-bar-item w3-button">Draw</a>
</div>

<div id="home" class="w3-container w3-padding-64">
  <h2>Enter Side Length</h2>
  
  <form action="/draw" method="GET">
    <label for="sideLength">Enter the side length:</label>
    <input type="number" id="sideLength" name="sideLength" required min="1">
    
    <br><br>
    <button type="submit" class="w3-button w3-blue">Draw Triangle</button>
  </form>
</div>

<footer class="w3-padding-large">
    <p>&copy; 2028 Rufaderon</p>
</footer>



</body>
</html>
